name: .NET

on:
  push:
    branches: [ main ]
    tags: v1.*
    paths-ignore:
    - 'README.md'

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: |
          3.1.x
          5.0.x
          6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Test
      run: dotnet test --no-build --verbosity normal
  publish:
    name: Publish
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: windows-latest
    steps:
    - name: Download artifact
      run: exit
